
<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'watermarksys/lib/css/bootstrap.min.css' %}">
<script src="{% static 'watermarksys/lib/js/jquery.min.js' %}"></script>
<script>
    function FileUpload() {
            var form_data = new FormData();
            var file_info =$( '#file_upload')[0].files[0];
            form_data.append('file',file_info);
            $.ajax({
                url:"{% url 'embed'%}",
                type:'POST',
                data: form_data,
                processData: false,  // tell jquery not to process the data
                contentType: false, // tell jquery not to set contentType
                success: function(callback) {
                    console.log('ok')
                }
            });

            }</script>
<head>
    <meta charset="UTF-8">
    <title>水印上传</title>
</head>
<body>
<div>
        <input type="file" name="file" id="file_upload">
        <input type="button" value="上传" onclick="FileUpload()">
        {% for path in imagepath %}
        <img src="{% static 'watermarksys'%}{{path.syspath}}" class="img-fluid" alt="failed">
        {% endfor %}
</div>
</body>
</html>